.tableCointainer {
  max-width:calc(100vw ); 
  overflow-x: auto;
}

.tableGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(110px,1fr));
  grid-template-rows: auto;
  border-radius: 7px 7px 0 0;
  box-shadow: 0 1px 4px 0 var(--boxShadow);
  min-width: 500px;
}
.row {
  display: contents;
}

.row {
}

.row .heading {
  background: var(--quaternaryBg);
  height: 55px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid var(--border);
}
.row .cell {
  display: grid;
  align-items: center;
  min-height: 55px;
  justify-items: center;
  border-bottom: 1px solid var(--border);
}

.statistic {
  font-size: 14px;
  padding: 5px 0 0 0;
  font-weight: 500;
  justify-items: end;
}

.subStatistic {
  font-size: 12px;
}

.text-right {
  text-align: right;
}
