.tableCointainer {
  max-width: calc(100vw);
  overflow-x: auto;
}

.tableGrid {
  border-radius: 7px 7px 0 0;
  box-shadow: -9 1px 4px 0 var(--boxShadow);
  border-collapse: collapse;
  min-width: 500px;
  font-size: 14px;
}

.row {
  display: grid;
  grid-template-columns:
    1fr minmax(110px, 1fr) minmax(110px, 1fr)
    minmax(110px, 1fr);
  grid-template-rows: auto;
}

.row:hover{
  background: var(--primaryClr05);
  cursor:pointer;
}


.row .heading {
  background: var(--quaternaryBg);
  height: 55px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid var(--border);
}

.cell1 {
  display: grid;
  align-items: center;
  padding-left: 11px;
  min-height: 55px;
  border-bottom: 1px solid var(--border);
}

.link:hover {
  text-decoration: underline;
}

.row .cell {
  display: grid;
  align-items: center;
  padding: 0 4px;
  min-height: 55px;
  text-align: center;
  justify-items: center;
  border-bottom: 1px solid var(--border);
}

.row:hover{

  background: var(--primaryClr05);
  cursor: pointer;
}

.statistic {
  font-size: 14px;
  padding: 5px 0 0 0;
  font-weight: 500;
  justify-items: end;
}

.subStatistic {
  font-size: 12px;
}

.text-right {
  text-align: right;
}

.sortedCell{
  display: grid;
  height: 100%;
  align-items: center;
  grid-auto-flow: column;
}
